@page
@{
  var returnUrl = Request.Query["path"].FirstOrDefault();
}
<div class="landing">
  <img src="/img/logo.png" class="logo" />
  <h1>Helpdesk</h1>
  <p>Strengthening our community partnership</p>
  <a href="/auth/login/challenge@(string.IsNullOrEmpty(returnUrl) ? string.Empty : $"?path={returnUrl}")" class="login-btn">
    <span class="material-symbols-rounded">login</span>
    Sign in with Microsoft
  </a>
</div>